# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# env / secrets
.env
.env.*

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
web-build/
*.apk
*.aab

# logs & caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/*
.bundle/
.expo-dev-cache/
.expo-web-cache/
*.log


# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# vscode settings
.vscode/

# os/editor
.DS_Store
Thumbs.db
.idea/
